.container{
    columns: 2 auto;
    border-width: 5px;
border-style: solid;
border-color: #000000;
}
.utama{
    background-color: beige;
    margin: 5px;
    border-radius: 1opx;
}
.input{
    width: 80%;
    padding: 12px 20px;
    font-size: medium;
    border-radius: 20px;
    margin-bottom: 10px;
}
.body{
    margin:10px
}
.card{
    border-color: black;
    margin: 10px;
}
.text{
    font-size:x-large
}