.jumbotron {
    background-image: url('../assets/gbr4.png');
    background-size: cover;
    height: 560px;
}
.btn-warning {
    background-color: darkgreen;
    border-radius: 10px;
    box-shadow: 0px 2px 2px black !important;
}
.footer{
    line-height: 50px;
    margin-bottom: 0px;
}
.contact {
    width: 500px;
}